# Dependencies
node_modules/
**/node_modules/
.pnp
.pnp.*
.yarn/*

# Build output
dist/
build/
.next/
**/next/
out/
**/*.tsbuildinfo

# Environment files
.env
.env.*
!.env.example

# Deployment & Vercel
.vercel/

# IDE & OS files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lint.log

# Test coverage
coverage/
